#window {
    background-color: #1e1e2e;
    border: 2px solid #b4befe;
    border-radius: 20px;
}

#outer-box {
    margin: 20px;
}

#inner-box {
    margin: 20px;
    margin-top: 5px;
}

#input {
    border: 2px solid #89b4fa;
    margin-bottom: 5px;
}

#text {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Ubuntu Nerd Font';
}

#img {
    margin-right: 10px;
}

#entry:selected {
    color: #3a3264;
    background-color: #b4befe;
    border-radius: 10px;
}

#text:selected {
    color: #3a3264;
}

#entry {
    border-radius: 10px;
}
