#window {
    background-color: #1e1e2e;
    border: 2px solid #b4befe;
    border-radius: 20px;
}

#outer-box {
    margin: 20px;
}

#inner-box {
    margin: 20px;
    border-radius: 20px;
    background-color: #313244;
    border: 2px solid #585b70;
}

#input {
    border: 2px solid #89b4fa;
}

#text {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Ubuntu Nerd Font';
}

#img {
    margin-right: 10px;
}

#entry:selected {
    border-radius: 10px;
}

#entry {
    border-radius: 10px;
}
